# Ignore Machine Learning Books directory
Resources/Machine Learning Books/
Classes/AITrends/Assignments/Assignment 3 Jenkins/Key11.ppk
Classes/Fundamentals of Ai/Notes/Prop_Logic__Machine_Reasoning.mp4
Classes/Fundamentals of Ai/Notes/Logic_to_Expertise.mp4
Classes/Fundamentals of Ai/Notes/Streamlabs+Desktop+Setup+1.19.6-61ZJ0LUUQqnpxks.exe
Classes/Python/Object Oriented Programming/Python.ipynb

node/pgdai_node/node_modules


